{% extends 'base.html' %}
{% block head %}
<style>
.img-thumbnail {
  width:4%;
}
</style>
{% endblock %}
{% block content %}
<div class="container">
<ul class="list-group list-group-flush p-3 border">
    <li class="list-group-item"><img src="{{url_for('static',filename='new-candidate.png')}}"  alt="New Candidate" class="img-thumbnail"><a href="{{url_for('new_candidate')}}">New Candidate</a></li>
    <li class="list-group-item"><img src="{{url_for('static',filename='view-candidate.jpg')}}"  alt="view-candidate.png" class="img-thumbnail"><a href="{{url_for('view_candidate')}}">View Candidate</a></li>
    <li class="list-group-item"><img src="{{url_for('static',filename='create-voter.png')}}"  alt="create-voter.png" class="img-thumbnail"><a href="{{url_for('create_voter')}}">Create Voter</a></li>
    <li class="list-group-item"><img src="{{url_for('static',filename='update-voter.png')}}"  alt="update-voter.png" class="img-thumbnail"><a href="{{url_for('update_voter')}}">Update Voter</a></li>
    <li class="list-group-item"><img src="{{url_for('static',filename='voter-list.jpg')}}"  alt="voter-list.jpg" class="img-thumbnail"><a href="{{url_for('voter_list')}}">Import Voter List</a></li>
    <li class="list-group-item"><img src="{{url_for('static',filename='voting result.jpg')}}"  alt="voting result.jpg" class="img-thumbnail"><a href="{{url_for('voting_result')}}">Voting Result</a></li>
    <li class="list-group-item"><img src="{{url_for('static',filename='profile.png')}}"  alt="profile.png" class="img-thumbnail"><a href="{{url_for('profile')}}">My Profile</a></li>
  </ul>
</div>
{% endblock %}
