{% extends 'base.html' %}
{% block head %}
{% endblock %}
{% block content %}
<div class="container">
    <form method="post" action="#">
        <div class="shadow p-3 mb-5 bg-white rounded">
            <h1 class="text-muted">Add a new candidate</h1>
    {{form.hidden_tag()}}
    {{form.Name.label(class="form-control-label")}}
    {{form.Name(class="form-control")}}
    {{form.Voter_id.label()}}
    {{form.Voter_id(class="form-control")}}
    {{form.address.label()}}
    {{form.address(class="form-control")}}
    {{form.phone.label(class="form-control-label")}}
    {{form.phone(class="form-control")}}
    {{form.cat.label()}}
    {{form.cat()}}
    {{form.picture(class="form-control")}}
    {{form.submit(class="btn btn-success btn-lg")}}
        </div>
</form>
</div>
</div>
{% endblock %}